/* .container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    padding: 40px;
    width: 500px;
    height: 100%;
    background-color: #76638f;
    box-shadow: 0px 4px 20px rgb(141, 141, 141);
    color: aliceblue;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    
} */

*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial,sans-serif;

}
.container2{
    background-color: #76638f;
    color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 20px rgb(141, 141, 141);
    padding: 35px;
    margin: 40px;
    width: 500px; 
    
}
label{
    color: #fbe8c3;
}
input{
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 0px;
    
}
/* button{
    
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faa307;
    margin-top: 5%;
    padding: 2%;

}
button:hover{
    background-color: #f48c06;
    width: 26%;
} */

button{
    font-size:15px;
    padding: 10px 35px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 45px;
    background-color: #faa307;
}
button:hover{
    background-color: #f48c06;
    padding: 10px 37px;
}

a{
   font-size:xx-small;
   margin-left: 40%;
   padding-top: 10px;
   color: aliceblue;
   text-decoration: none;
}
h1{
    padding-top: 40px;
    color: #faa307;
}

.info{
    padding: 20px;
    
}
.info1{
    display: flex;
    flex-direction: column;
    padding-bottom:20px ;
    
}